.card{
    background-color: #d9d6d4!important;
    
}


.navbar{
    background-color: #d9d6d4!important;
   
}

.btn.btn-primary{
    background-color: #b3b1b0;
    outline: nove!important;
}   

.col-sm-4{
    padding-left: 1px;
    padding-right: 1px;
}
